// Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
$font-family-1: "Bellefair", serif;
$font-family-2: "Barlow Condensed", sans-serif;
$fw-regular: 400;
$fw-bold: 700;

// Colors
$color-dark: #0b0d17;
$color-accent: #d0d6f9;
$color-medium-light: #ffffffbb;
$color-light: #ffffff;
