@use "../variables";

@media screen and (min-width: 1200px) {
  .technology {
    background-image: url("/src/assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  header,
  main {
    padding-left: 10rem !important;
  }

  .subheader2 {
    text-align: left;
    margin-bottom: 0 !important;
  }

  .technology_container {
    flex-direction: row-reverse;

    .image_container {
      height: 33rem !important;
    }

    .technology_about_container {
      padding-top: 5rem;
      flex-direction: row;
      justify-content: center !important;
      align-items: flex-start !important;
      gap: 5rem;

      .navigation_technology {
        ul {
          flex-direction: column;
          gap: 2rem !important;

          li {
            width: 5rem !important;
            height: 5rem !important;
            padding-top: 0.9rem !important;

            a {
              font-size: 2rem !important;
              padding: 1.8rem !important;
            }
          }
        }
      }

      .about_technology {
        padding-top: 1rem;
        align-items: flex-start !important;

        .info {
          text-align: left;
          padding-inline: 0 !important;
          padding-right: 12.5rem !important;
          font-size: 1.125rem !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #technology_vehicle {
    .technology_container {
      .image_container {
        background-image: url("/src/assets/technology/image-launch-vehicle-portrait.jpg") !important;
        background-size: contain !important;
      }
    }
  }

  #technology_spaceport {
    .technology_container {
      .image_container {
        background-image: url("/src/assets/technology/image-spaceport-portrait.jpg");
        background-size: contain !important;
      }
    }
  }

  #technology_capsule {
    .technology_container {
      .image_container {
        background-image: url("/src/assets/technology/image-space-capsule-portrait.jpg");
        background-size: contain !important;
      }
    }
  }
}
